
html{
    font-size: 6px;
}

/* header */

header nav{
    padding: 2rem;
    height: 14rem;
    flex-direction: column;
}
/* home */
#home .home-bg{
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 100%);
}

/* about */

#about .about {
    flex-direction: column;
  }

  /* language */

  .language-item img
  {
      width: 10rem;
      height: 10rem;
  }